.container-fluid{
	min-height: 500px;
}

.img-titulo{
	margin: 20px 10px 20px 0px;
	width: 100%;
}
.text-titulo{
	margin-top: 25px;
}

#tb-senadores th{
	vertical-align: super;
}

#tb-senadores td{
	vertical-align: middle;
}

#tb-senadores img, #tb-senadores .th-foto{
	max-width: 100px;
}

#tb-senadores .th-nome{
	min-width: 300px;
}

.img-carregando{
	width: 50%;
}